<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css%}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>Banco</title>
</head>
    <main>
        <div class="mt-4 container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
<body>
    <footer class="bg-light text-center text-lg-start fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <a class="text-dark" href="https://www.linkedin.com/in/patriciocardenasz"> Desarrollado por Patricio Cardenas 2023&#169;</a>
        </div>
    </footer>
</body>

</html>